<form action='/add-item' method='POST'>
	<input type='text' id='itemname' name='name' placeholder='Item Name'><br>
	<input type='number' step='any' id='itemprice' name='price' placeholder='Item Price'><br>
	<button type='submit'>Add Item</button>
	<a href='/home'>Home</a>
</form>
